@import url('bootstrap');
@import url('bootstrap-icons');



/*Typography*/



.navbar-nav .nav-link.active {
  color: white;
}

a#always-active {
  color: black;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 0.5rem;
}





/*Card*/

.card {
  position: relative;
  font-size: 0.7rem;

  h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  .img-cont {
    height: 160px;


    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

    }
  }

  .rating {
    position: absolute;
    top: 1px;
    right: 5px;
  }
}


/*Product*/

.product {
  position: relative;

  .img-cont {
    margin-bottom: 1rem;

    img {
      height: 35vh;

    }
  }

  .rating {
    position: absolute;
    font-size: 1.3rem;
    top: 10px;
    right: 10px;
  }

  .buttons {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }
}